body {
  font-family: monospace;
}

.block {
  margin: 1rem 1rem 0 1rem;
}

.block pre {
  overflow-x: auto;
}

.grid,
.main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100% 100%;
}

.main {
  height: 100vh;
  width: 100vw;
}

.noOutline select {
  outline: none;
}

.options label {
  display: inline-block;
  margin: 0 2ch 0 0;
}

.options label:first-child {
  font-weight: bold;
  width: 9ch;
}

.panel {
  display: flex;
  flex-direction: column;
}

.panel:first-child {
  border-right: 0.1rem solid;
}

.settings {
  flex: 0 0 7rem;
  overflow-y: auto;
}

.spinner {
  margin-top: 1rem;
}

.wrapHidden,
.wrapScroll {
  height: 100%;
  width: 100%;
}

.wrapHidden {
  overflow: hidden;
}

.wrapScroll {
  overflow: auto;
}
