body {
  font-family: monospace;
}

.block {
  margin: 1rem 1rem 0 1rem;
}

.block pre {
  margin-bottom: 0;
  overflow-x: auto;
}

.block pre:empty {
  margin-top: 0;
}

.flags label {
  margin-bottom: 0;
}

.flags label:first-child {
  font-weight: bold;
}

.flags label:not(:first-child) {
  margin-left: 1rem;
}

.grid,
.main {
  display: grid;
  grid-template-columns: auto 1fr;
}

.main {
  height: 100vh;
  width: 100vw;
}

.panel {
  display: flex;
  height: 100vh;
}

.panel:first-child {
  width: 50vw;
}

.panel:last-child {
  flex-direction: column;
  overflow-x: hidden;
}

.radio label {
  display: inline-block;
}

.resizer {
  background-color: black;
  position: relative;
  touch-action: none;
}

.resizer::before {
  content: '';
  position: absolute;
  z-index: 1;
}

.resizer[data-resizer="horizontal"] {
  cursor: col-resize;
  width: 1px;
}

.resizer[data-resizer="horizontal"]::before {
  bottom: 0;
  left: -10px;
  right: -10px;
  top: 0;
}

.resizer[data-resizer="vertical"] {
  cursor: row-resize;
  height: 1px;
}

.resizer[data-resizer="vertical"]::before {
  bottom: -10px;
  left: 0;
  right: 0;
  top: -10px;
}

.select select {
  outline: none;
}

.settings {
  flex: 1 1 0px;
  overflow-y: auto;
}

.spinner {
  margin-top: 1rem;
}

.view {
  height: calc(100vh - 7rem - 30px);
}

.wrapHidden,
.wrapScroll {
  height: 100%;
  width: 100%;
}

.wrapHidden {
  overflow: hidden;
}

.wrapScroll {
  overflow: auto;
}
